<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div class="outer-container">
      <div class="content-card">
        <div class="hero-picture">
          <app-hero-picture></app-hero-picture>
        </div>
        <div>
          <app-heading></app-heading>
          <app-stats></app-stats>
        </div>
      </div>
      <div class="attribution">
        <p style="opacity: 0.8; font-size: 8px;">Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://adinashahira.github.io">adglory</a>.</p>
      </div>
    </div>
    <script src="" async defer></script>
    <svg xmlns="http://www.w3.org/2000/svg"><filter id="svgTint"><feColorMatrix type="matrix" values="0.20392156862745098 0.20392156862745098 0.20392156862745098  0 0 0.06274509803921569 0.06274509803921569 0.06274509803921569  0 0 0.23529411764705882 0.23529411764705882 0.23529411764705882  0 0  0 0 0 1 0" /></filter></svg>
  </body>
</html>